@use "functions" as *;

@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin flex-center($isInline: false) {
  @if ($isInline) {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin focus-visible {
  outline: 1px dashed currentColor;
  outline-offset: 4px;
  transition-duration: 0s !important;
}

@mixin disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
