.hero {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 600px;
  margin: -77px 0 57px;
  background: transparent;
  box-shadow: 0 10px 100px 0 rgb(255 102 0 / 15%);
  padding-block: fluid(100, 50);

  &__bg {
    position: absolute;
    z-index: 5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    inset: 0;
  }

  &__inner {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: fluid(50, 30);
  }

  &__actions {
    @include flex-center;

    position: absolute;
    top: -50px;
    column-gap: 15px;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 320px;
    max-width: 500px;
    row-gap: fluid(40, 30);

    &-button {
      max-width: 160px;
    }
  }

  &__title {
    @include fluid-text(40, 32);
  }

  &__text {
    @include fluid-text(20, 14);
  }

  &__pagination {
    position: absolute;
    bottom: -50px;
  }
}
