.slider-pagination {
  display: flex;
  gap: 18px;

  &__dot {
    width: 12px;
    height: 12px;
    background: var(--color-white-transparent-01);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &.is-active {
      background: var(--color-orange);
    }
  }
}
