.button {
  @include flex-center;

  gap: 10px;
  padding: 10px fluid(30, 20);
  color: var(--color-white);
  background-color: var(--color-orange-transparent);
  border: var(--border);

  &__icon {
    @include flex-center;
  }

  &__text {
    @include flex-center;
  }
}
