.button {
  @include flex-center();
  gap: 10px;
  padding: 10px fluid(30, 20);
  background-color: var(--color-orange-transparent);
  border: var(--border);
  color: var(--color-white);

  &__icon {
    @include flex-center();
  }

  &__text {
    @include flex-center();
  }
}