.product-card {
  position: relative;
  width: 1040px;
  height: 280px;
  padding: fluid(36, 30) fluid(47, 30) fluid(47, 30);

  &__bg {
    position: absolute;
    transition: filter 0.3s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    inset: 0;

    /* ЦВЕТНОЙ OVERLAY */
    &::after {
      position: absolute;
      background-color: rgb(39 38 40 / 40%); // #272628 @ 40%
      transition: background-color 0.3s ease;
      content: '';
      inset: 0;
    }
  }

  /* ХОВЕР */
  &:hover .product-card__bg {
    filter: grayscale(0%);
  }

  &:hover .product-card__bg::after {
    background-color: rgb(39 38 40 / 10%);
  }

  /* КОНТЕНТ */
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    @include fluid-text(16, 12);

    max-width: 550px;
    line-height: 1.4;
  }

  &__button {
    max-width: 160px;
  }
}
