@font-face {
  font-weight: 400;
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");
}
