@font-face {
  font-weight: 600;
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  src: url("../assets/fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  src: url("../assets/fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  src: url("../assets/fonts/Poppins-SemiBold.woff2") format("woff2");
}
