* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: auto;

  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-white);
  background-color: var(--color-dark-01);
  overflow-x: hidden;
  font-size: 14px;
}

main {
  flex-grow: 1;
}

h1,
.h1 {
  @include fluid-text(64, 34);

  font-weight: 800;
}

h2,
.h2 {
  @include fluid-text(48, 24);

  font-weight: 600;
}

h3,
.h3 {
  @include fluid-text(32, 20);

  font-weight: 600;
}

h4,
.h4 {
  @include fluid-text(26, 18);

  font-weight: 600;
}

h5,
.h5 {
  @include fluid-text(22, 18);

  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  @include focus-visible;
}
