/* Error: Undefined mixin.
 *    ,
 * 10 |   @include fluid-text(18, 14);
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   globals.scss 10:3  root stylesheet */

body::before {
  display: block;
  padding: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 10 \2502    @include fluid-text(18, 14);\d\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   globals.scss 10:3  root stylesheet';
  font-family:
    'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono', 'Droid Sans Mono', monospace,
    monospace;
  margin-bottom: 1em;
  white-space: pre;
}
