/* Error: Undefined variable.
 *    ,
 * 23 |     $container-desktop-width,
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   variables.scss 23:5  root stylesheet */

body::before {
  display: block;
  padding: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 23 \2502      $container-desktop-width,\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   variables.scss 23:5  root stylesheet";
  font-family:
    "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
  margin-bottom: 1em;
  white-space: pre;
}
