.card {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 50px;

  &.on-slider {
    flex-direction: column;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__content {
    font-size: 12px;

    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: var(--color-orange);
    text-decoration: none;
  }

  @include mobile-s {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
  }
}
