.team-card {
  min-width: 150px;
  max-height: 210px;

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100%;
    width: 100%;
  }

  &__image {
    border-radius: 50%;
    filter: grayscale(100%);
    min-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
  }

  &__image img {
    width: 100%;
    height: 100%;
  }

  &__title {
    text-align: center;
    font-size: 16px !important;
    font-weight: 600;
  }

  &__text {
    text-align: center;
    max-width: 550px;
    line-height: 1.4;
  }
}