.contact-form-large {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 610px;
  width: 100%;
  margin: 0 auto;

  .contact-form-large__row {
    display: flex;
    gap: 16px;

    .input__container {
      width: 100%;
    }

    .input {
      width: 100%;
      flex: 1;
    }
  }

  .textarea__container .textarea {
    width: 100%;
    min-height: 150px;
  }

  .input,
  .textarea {
    width: 100%;
  }

  .button {
    width: 250px;
    margin: auto;
  }
}
