.team-card {

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    column-gap: 30px;
    color: #fff;
    height: 100%;
    width: 100%;
  }

  &__image {
    max-width: 50px;
    max-height: 50px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
    font-size: 16px !important;
    font-weight: 600;
    font-size: 24px;
  }

  &__text {
    text-align: center;
    line-height: 1.4;
    font-size: 14px;
  }
}