.contacts-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 50px;

  &__item {
	  font-size: 20px;
  }
  &__title {
	  font-size: 20px;
  }
  &__value {
	  font-size: 16px;
  }
}